<% content_for :content do %>
<% if @update_pending %>
<script type="text/javascript">
    $(setTimeout(function() { updatePage('<%= @github_project %>') }, 10000));
</script>
<% end %>

<h1>
    Stats for <em><a href="https://github.com/<%= @github_project %>"
    title="Visit <%= @github_project %> on GitHub">
    <%= @github_project %></a></em>
    <div id="timestamp">Last updated at <%= @report.last_update %></div>
</h1>

<div id="tabs">
    <%= link_or_text 'Basic stats', :basic_stats %>
    <%= link_or_text 'Calendar', :calendar %>
</div>
<div id="stats">
    <%= content_for?(:stats_content) ? yield(:stats_content) : yield %>
</div>

<% end %>

<%= render :template => 'layouts/application' %>
