<% content_for :content do %>
<h1>
    Stats for <em><a href="https://github.com/<%= @github_project %>"
    title="Visit <%= @github_project %> on GitHub">
    <%= @github_project %></a></em>
    <div id="timestamp">Last updated at <%= @report.last_update %></div>
</h1>

<div id="tabs">
    <%= link_or_text 'Basic stats', :basic_stats %>
    <%= link_or_text 'Calendar', :calendar %>
</div>
<div id="stats">
    <%= yield %>
</div>

<% end %>

<%= render :file => 'layouts/application' %>
